<!DOCTYPE html>
<html lang="ja">
<script src="https://kit.fontawesome.com/17810510b7.js" crossorigin="anonymous"></script>
<%= flash[:notice] %>
<div class="container">
  <div class="row">
  <div class="sidebar_content">
<!------------------------ User info -------------------------->
        <div class="col-xs-3">
          <h1>User info</h1>
          <%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "noimage.jpg", size:'60x60' %>
            <div class="table">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">name</th>
                    <td><%= @books.user.name %></td>
                </tr>
                <tr>
                  <th scope="row">introduction</th>
                    <td><%= @books.user.introduction %></td>
                </tr>
               </tbody>
              </table>
            </div>
                <% if @books.user.id == current_user.id %>
                  <div><%= link_to edit_user_path(current_user) do %><button type="button" class="btn btn-default btn-block" ><i class="glyphicon glyphicon-wrench"></i></button><% end %></div>
                <% end %>
<!------------------------ New book -------------------------->
      <h2>New book</h2>
        <%= form_for(@book) do |f| %>
          <h3>Title</h3>
          <%= f.text_field :title %>
          <h3>Opinion</h3>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
        <% end %>
    </div>
  </div>
<!------------------------ Book detail-------------------------->
    <div class="col-xs-9">
      <h2>Book detail</h2>
        <table class="table">
          <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                    <%= link_to user_path(@books.user) do %>
                    <%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "noimage.jpg", size:'60x60' %>
                    <br>
                    <%= @books.user.name %>
                  <% end %>
                </th>
                <th><%= @books.title %></th>
                <th><%= @books.body %></th>
<!------------------------ いいね機能 ----------------------->
                <th><% if @books.favorited_by?(current_user) %>
                      <%= link_to book_favorites_path(@books), method: :delete do %>
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                        <%= @books.favorites.count %>
                      <% end %>
                    <% else %>
                      <%= link_to book_favorites_path(@books), method: :post do %>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <%= @books.favorites.count %>
                      <% end %>
                    <% end %>
                </th>
 <!---------------------- コメント機能 ------------------------->
                <th>コメント数：<%= @books.post_comments.count %></th>
                  <% if @books.user == current_user %>
                  <th><%= link_to "Edit", edit_book_path(@books), class: 'btn btn-success'%> </th>
                  <th><%= link_to "Destroy", book_path(@books), class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に消しますか?" %></th>
                <% end %>
              </tr>
            </tbody>
          </table>
          <!-- ここにコメント本文 -->
             <% @books.post_comments.each do |post_comment| %>
                <div class="avatar">
                 <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "noimage.jpg", size:'60x60' %>
               </div><br>
               <div><%= post_comment.user.name %></div>
                <div class="comment-entry"><%= post_comment.comment %></div>
               <% if post_comment.user == current_user %>
                 <div>
                  <%= link_to "削除", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
                 </div>
                <% end %>
             <% end %>
          <!-- ここにコメントフォーム -->
          <%= form_for [@books, @post_comment] do |f| %>
            <% if @post_comment.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              <div class="row">
                <div class="col-xs-12">
                  <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
                </div>
              </div>
              <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
          <% end %>
          <!-- ここまで -->
    </div>
    </div>
  </div>
</html>
